apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: eksnodegroups.aws.compute.hub.appvia.io
spec:
  group: aws.compute.hub.appvia.io
  names:
    kind: EKSNodeGroup
    listKind: EKSNodeGroupList
    plural: eksnodegroups
    singular: eksnodegroup
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: EKSNodeGroup is the Schema for the eksnodegroups API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: EKSNodeGroupSpec defines the desired state of EKSNodeGroup
          properties:
            amitype:
              type: string
            clustername:
              type: string
            disksize:
              type: string
            forceupdateenabled:
              type: boolean
            instancetypes:
              type: array
              items: 
                type: string
            nodegroupname:
                items: string
            releaseversion:
                items: string
            subnets:
              type: array
              items: 
                type: string
            securitygroupids:
              description: A list of security group IDs
              type: array
              items: 
                type: string
            subnets:
              description: The subnets to use for the Auto Scaling group that is created for your node group
              type: array
              items:
                type: string
            noderole:
              description: The IAM role associated with your node group.
              type: string
            region:
              type: string
            version:
              type: string
            use:
              description: Use is a reference to an AWSCredentials object to use
              properties:
                group:
                  description: Group is the api group
                  type: string
                kind:
                  description: Kind is the name of the resource under the group
                  type: string
                name:
                  description: Name is name of the resource
                  type: string
                namespace:
                  description: Namespace is the location of the object
                  type: string
                version:
                  description: Version is the group version
                  type: string
              required:
                - group
                - kind
                - name
                - namespace
                - version
              type: object
          required:
            - clustername
            - subnets
            - noderole
            - region
        status:
          description: EKSNodeGroupStatus defines the observed state of EKSNodeGroup
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
